@page
@model WebApplicationTemplate.Areas.Project.Pages.DetailsModel

@{
    ViewData["Title"] = "Project Details";
}

<h1>Details</h1>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.ProjectName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.ProjectName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.ProjectDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.ProjectDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="/Project/Edit" asp-route-id="@Model.Project.Id">Edit</a> |
    <a asp-page="/Project/Index">Back to List</a>
</div>
